<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>속성값 변경:  th:attr</h1>
<img src="xyz.png" th:attr="src=@{/images/ktds.png}, title='long', width='${imgWidth}', height='200'" />
<p class="kkk" th:attr="class=${xyz}">Hello1</p>
<p class="kkk" th:class="${xyz}">Hello2</p>
아이디:<input type="text" name="userid" value="세종대왕" th:attr="value=${user.username}"/><br>
아이디:<input type="text" name="userid" value="세종대왕" th:value="${user.username}"/><br>

<h3>form</h3>
<form action="http://www.google.com" th:action="@{/a2}">
아이디:<input type="text" name="userid" /><br>
<input type="submit" value="로그인"> 
</form>
</body>
</html>

